.header {
    background-color: blanchedalmond;
    text-align: center;
    padding: 2rem;
}

.add-book {
    padding: 1rem;
    margin: 1rem;
}

.library {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.book-card {
    background-color: azure;
}